<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Vgani skrito stevilo BojPav</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <br>
    <br>
    <h1>Dobrodosli v igro - Vgani skrito stevilko!</h1>
    <br>
    <h2>Vpisite stevilko (1 do 20) v input polje, potem gumb: Preveri, ali 'Enter'</h2>
    <br>
    <form method="post" action="/preveri">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>BojPav</span>
            <input type="text" class="form-control" placeholder="Poskusite..." aria-describedby="sizing-addon1" name="vnos">
        </div>
        <br>
        <br>
        <button class="btn btn-success btn-lg" type="submit">Preveri !</button><br>
    </form>
</body>
</html>